html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Noto Sans CJK KR", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #555;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

input,
select,
button,
textarea {
  font-size: inherit;
  font-family: "SpoqaHanSans", "Lato", "Noto Sans CJK KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  padding: 50px 40px;
  margin: 0 auto;
}

@media (max-width: 40em) {
  .page {
    padding: 100px 28px 40px;
  }
}

.page-title {
  margin: 0 0 0.2em;
  font-size: 3rem;
  color: #500CAC;
}

.page-subtitle {
  margin: 0 0 0.75em;
  font-size: 1.875rem;
  font-weight: 400;
}

.page-job {
  margin: 0 0 1em;
  font-size: 1.25rem;
}

@media (max-width: 40em) {
  .page-title {
    font-size: 2.25rem;
  }

  .page-subtitle {
    font-size: 1.5rem;
  }

  .page-job {
    font-size: 1.125rem;
    word-break: keep-all;
  }
}

.page-divider {
  width: 2em;
  height: 4px;
  margin: 1.5em 0 1em;
  border: 0;
  background-color: #8861C6;
}

.page-divider.dimmed {
  background-color: #dadada;
}

.page-logo {
  position: relative;
  height: 250px;
  margin: 0;
}

.page-logo img {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 8em;
  height: auto;
}

@media (max-width: 40em) {
  .page-logo {
    height: 4em;
  }

  .page-logo img {
    width: 4em;
  }
}

.page-desc {
  max-width: 45em;
  line-height: 1.5;
  color: #444;
}

.page-links {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

.page-links > li {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1rem;
}

.page-links > li > a {
  display: inline-block;
  height: 1.5rem;
  line-height: 1.5;
  padding-left: 28px;
  overflow: hidden;
  color: inherit;
  background-position: 0 50%;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

.link-blog {
  background-image: url(../assets/blog.svg);
}

.link-facebook {
  background-image: url(../assets/facebook.svg);
}

.link-instagram {
  background-image: url(../assets/instagram.svg);
}

.link-twitter {
  background-image: url(../assets/twitter.svg);
}

.link-github {
  background-image: url(../assets/github.svg);
}

.link-linkedin {
  background-image: url(../assets/linkedin.svg);
}

.page-hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #141414;
    color: #ddd;
  }

  .page-title {
    color: #791bfa;
  }

  .page-divider {
    background-color: #59417b;
  }

  .page-divider.dimmed {
    background-color: #444;
  }

  .page-desc {
    color: #fff;
  }
}
